@import "compass/reset";
@import "susy";
@import "font-awesome";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";
@import "base";

body {
	font-family: 'Titillium Web', sans-serif;
}

.page {
	@include container;
	
	@include at-breakpoint(12) {
		
		@include set-container-width;
			
		#player {
			@include span-columns(6);
		}
		
		aside {
			@include span-columns(6 omega);
		}
	}
	
	@include susy-grid-background;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: .5em 1em;
	color: #fff;
	background-color: red;
	@include box-shadow(#ccc 0px 3px 3px);
	
	.bar-inner {
		@include span-columns($total-columns);
	}
	
 	nav {
		@include span-columns(4);
		
		line-height: 2.5em;
		
		.control {
			cursor: pointer;
			float: left;
			padding-right: .625em;
			@include text-shadow(#666 1px 1px 2px);
		}
		
		.control#toggle-video {
			font-size: 2em;
			&:hover {
				font-size: 3.5em;
			}
		}
		
		.control.control-nav {
			font-size: 2em;
			&:hover {
				font-size: 2.5em;
			}
		}
	}
	
	#account {
		@include span-columns(3 omega);
		line-height: 35px;
		text-align: right;
		@include text-shadow(#666 1px 1px 2px);
	}
}

#main {
	padding-top: 4.5em;
}

#player {
	@include span-columns(7);
}

#playlist {

	li {
		line-height: 1.5em;
	}

	li .video {
		cursor: pointer;
		padding: 3px 6px;
	}

	li .video.active {
		background-color: #ddd;
	}
}