<div class='controls'>
	<span class='control icon-play' id='toggle-video'></span>
	<span class='control control-nav icon-backward' id='prev-video'></span>
	<span class='control control-nav icon-forward' id='next-video'></span>
</div>