<nav>
	<span id='toggle-video' class='control'>
		<span class='icon-play'></span>
	</span>
	<span class='control control-nav' id='prev-video'>
		<span class='icon-backward'></span>
	</span>
	<span class='control control-nav' id='next-video'>
		<span class='icon-forward'></span>
	</span>
</nav>