<head>
	<title>Ply</title>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
	<meta name='viewport' content='width=device-width'>
	<script src='/ply/js/lib/require/require.js' data-main='/ply/js/main' ></script>
    <script src='/ply/js/lib/modernizr/modernizr.js'></script>
	<link href='//fonts.googleapis.com/css?family=Titillium+Web:400,200' rel='stylesheet'>
	<link href='/ply/stylesheets/screen.css' media='screen, projection' rel='stylesheet'>
</head>