<html>
	{{> header}}
	<body>
		<pre>
			<p>
				Hey {{ data.name }} / {{ data.date }}! I'm a Mustache template.
			</p>
			<p>
				{{ color }} / {{ size }} / {{#test}}{{ size }}{{/test}}
			</p>
			<p>
				{{#_i18n}}Hello.{{/_i18n}}
			</p>
			
			
			{{> bar }}
		</pre>
		{{> footer}}
	</body>
</html>