<html>
	{{> header}}
	<body>
		<div id='app'>
			{{> bar}}
			<div id="main" class='container'>
				<div id='player'>
					<p>You won't be needing Flash 8 or better... HTML5 FTW bitches!</p>
				</div>
				<div id='playlist'>
					<ul></ul>
				</div>	
			</div>
		</div>
	</body>
</html>