<html>
<head>
	<title>Ply</title>
	<link href='//fonts.googleapis.com/css?family=Titillium+Web:400,200' rel='stylesheet' type='text/css' />
	<link href="/ply/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id='app' class='page'>
		{{> bar}}
		<div id='main'>
			<div id='player'>
				<p>You won't be needing Flash 8 or better... HTML5 FTW bitches!</p>
			</div>
			<div id='playlist'>
				<ul>
					<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
					<li>Donec ut nisl et ante molestie sollicitudin.</li>
					<li>Quisque quis nisl convallis orci sodales commodo eget sit amet libero.</li>
					<li>Cras at mauris lacus, quis interdum sem.</li>
					<li>Nulla porttitor felis ut felis rhoncus mattis.</li>
				</ul>
			</div>	
		</div>
	</div>
	<footer>
		<p>site made by emwee</p>
	</footer>
</body>
</html>